
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/assets/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="static/assets/css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/assets/css/bootstrap.css">
	<!-- Style -->
	<link rel="stylesheet" href="static/assets/css/style.css">


	<!-- Modernizr JS -->
	<script src="static/assets/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<header role="banner" id="fh5co-header">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="navbar-header">
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="/home1">Text Classification</a> 
					</div>
					<div  class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/home1" data-nav-section="home"><span>Home</span></a></li>
							<li><a href="/notebook" data-nav-section="blog"><span>Notebook</span></a></li>
              				<li><a href="/about" data-nav-section="blog"><span>About</span></a></li>
							<li><a href="/login" data-nav-section="blog"><span>Signout</span></a></li>
						</ul>
					</div>
				</nav>
			</div>
	  </div>
	</header>

	<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="animate-box"><span class="medium">Zero Short</span> <br><span>Text Classification via knowledge</span> <br><span class="medium">Courage</span><br><span>Graph</span> <br> <span class="medium">Neural Network.</span></h1>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">

          <form action="{{ url_for('predict')}}" method="POST">
          <p>Enter Your Message Here</p>
          <!-- <input type="text" name="comment"/> -->
          <textarea name="message" rows="6" cols="50"></textarea>
          <br/>

          <input type="submit" class="btn-info" value="predict">
          
        </form>
          
      </div>
    </div>
    </div>
    </section>
    
    
    <div id="fh5co-footer" role="contentinfo">
    <div class="container">
    <div class="row">
      <div class="col-md-4 animate-box">
        <h3 class="section-title">Text Classification.</h3>
        <p>Text Classification is the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information.</p>
        
      </div>
    
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copy-right">&copy; 2022 Solid Free Template. All Rights Reserved. <br>
          Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>
          Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>
        </p>
      </div>
    </div>
    </div>
    </div>
    
    
    <!-- jQuery -->
    <script src="static/assets/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="static/assets/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="static/assets/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="static/assets/js/jquery.stellar.min.js"></script>
    <!-- Counters -->
    <script src="static/assets/js/jquery.countTo.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="static/assets/js/main.js"></script>
    
    </body>
    </html>
    
    